

body {
	margin: 0px;
	background-color: #305BAB;
	font-family: Arial;
}
.BarraNav {
	top: 0px;
	left: 0px;
	height: 55px;
	border: 1px solid black;
	padding: 5px;
	padding-left: 10px;
	background-color: #305BAB;

}
.LogoBarra {
	width: 3%;
}

.Barra {
	padding-top: 10px;
	display: flex;
	align-items: center;
}

.Botons {
	display: flex;
	gap: 900px;
	padding-left: 20px;

}


.NavButton{
	border-color: black;
	border: 2px solid;
	height: 30px;
	background-color: transparent;
}

.NavButton2{
	border color: black;
	border-radius: 15px;
	borde: 1px solid;
	height: 30px;
	width: 100px;
	background-color: transparent;
}

.Buscador {
	border-color: black;
	background-color: #305BAB;
	border-radius: 3px;
	margin-top: 30px;
	margin-left: 40px;
	height: 30px;
	width: 300px;
}

.Portada {
	display: flex;
	gap: 400px;
	margin-top: 30px;
	margin-left: 40px;
}



.PortadaIMG {
	width: 80%;
}

.VerAhoraPortada {
	width: 80%;
	padding-left: 30px;
}

.Titulo {
	font-size: 25px;
	margin-left: 40px;
}

.Pelis {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	gap: 50px;
	
}
.ColocacioPelis{
	display: flex;
	gap: 70px;
}
.PelisIMG {
	width: 200px;
}

.InfoPeli {
	margin: 40px;
	text-align: center;
}

.PuntuacioPeli {
	width: 200px;
	height: 300px;
	background-color: #1A1A1A;
	border: 2px solid #1A1A1A;
}

.TituloPeli {
	margin: 5px;
	margin-bottom: 75px;
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	color: white;
}
.TituloPeliDragon {
	margin: 5px;
	margin-bottom: 43px;
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	color: white;
}

.Puntuacio {
	margin: 5px;
	margin-bottom: 0px;
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	color: white;
}

.Valoracio {
	margin: 5px;
	margin-bottom: 65px;
	margin-top: 0px;
	font-size: 25px;
	color: white;
}
.Valoracio::before {
  content: "★ ";
  color: gold;
}

.Trailer {
	margin: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
	color: white;
}

.Trailer::before {
  content: " ▶ ";
  color: white;
}

.Tabla {
	display: grid;
	justify-content: center;
	border: 1px solid black;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
  grid-gap: 0px;
  height: px;
  margin: 40px;

}

.Elements {
	padding: 30px;
	border: 1px solid;
	font-size: 25px;
}

.Valoracio2::before {
  content: "★ ";
  color: gold;
}

.TablaPelis {
  padding: 20px;
  text-align: center;
}


.ColocacioPelis2 {
	display: flex;
	gap: 200px;
}

.FechaPeli {
	margin-top: 0px;
	font-size: 40px;
	text-align: center;
	color: white;
}

.ProximesPelis {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	gap: 0px;
	
}

.BuscadorPeuPagina {
	color: white;
	border-color: white;
	background-color: transparent;
	border-radius: 3px;
	height: 30px;
	width: 300px;
}

.EnviarMail {
	color: white;
	border color: white;
	border-radius: 15px;
	borde: 1px solid;
	height: 30px;
	width: 100px;
	background-color: transparent;
}

.MailPeuPagina {
	display: flex;
	gap: 15px;
	align-items: center;
}

.SobreNosotros {
	color: white;
}

footer {
	height: 500px;
	background-color: #1A1A1A;
}

.PeuPagina {
	padding-top: 80px;
	display: flex;
	justify-content: center;
	background-color: transparent;
	gap: 150px;

}

.ColocacioDescripcio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
}

.TerminosCondiciones {
	display: flex;
	justify-content: center;
}


@media (min-width: 0px) and (max-width: 391px) {


	
	.BarraNav {
		top: 0px;
		left: 0px;
		height: 100px;
		border: 1px solid black;
		padding: 5px;
		padding-left: 10px;
		background-color: #305BAB;

	}
	.LogoBarra {
		width: 3%;
	}

	.Barra {
		padding-top: 10px;
		display: flex;
		align-items: center;
	}

	.Botons {
		display: flex;
		gap: 10px;
		padding-left: 20px;
	}


	.NavButton{
		border-color: black;
		border: 2px solid;
		height: 30px;
		background-color: transparent;
	}

	.NavButton2{
		border color: black;
		border-radius: 15px;
		borde: 1px solid;
		height: 30px;
		width: 100px;
		background-color: transparent;
	}

	.Buscador {
		border-color: black;
		background-color: #305BAB;
		border-radius: 3px;
		margin-top: 30px;
		margin-left: 40px;
		height: 30px;
		width: 300px;
	}

	.Portada {
		display: flex;
		gap: 400px;
		margin-top: 30px;
		margin-left: 40px;
	}

	.PortadaIMG {
		width: 80%;
	}

	.VerAhoraPortada {
		width: 80%;
		padding-left: 30px;
	}

	.Titulo {
		font-size: 25px;
		margin-left: 40px;
	}

	.Pelis {
		padding-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		gap: 50px;
		
	}
	.ColocacioPelis{
		display: flex;
		gap: 70px;
	}
	.PelisIMG {
		width: 200px;
	}

	.InfoPeli {
		margin: 40px;
		text-align: center;
	}

	.PuntuacioPeli {
		width: 200px;
		height: 300px;
		background-color: #1A1A1A;
		border: 2px solid #1A1A1A;
	}

	.TituloPeli {
		margin: 5px;
		margin-bottom: 75px;
		margin-top: 20px;
		font-size: 25px;
		text-align: center;
		color: white;
	}
	.TituloPeliDragon {
		margin: 5px;
		margin-bottom: 43px;
		margin-top: 20px;
		font-size: 25px;
		text-align: center;
		color: white;
	}

	.Puntuacio {
		margin: 5px;
		margin-bottom: 0px;
		margin-top: 20px;
		font-size: 25px;
		text-align: center;
		color: white;
	}

	.Valoracio {
		margin: 5px;
		margin-bottom: 65px;
		margin-top: 0px;
		font-size: 25px;
		color: white;
	}
	.Valoracio::before {
	  content: "★ ";
	  color: gold;
	}

	.Trailer {
		margin: 5px;
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 25px;
		text-align: center;
		color: white;
	}

	.Trailer::before {
	  content: " ▶ ";
	  color: white;
	}

	.Tabla {
		display: grid;
		justify-content: center;
		border: 1px solid black;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr; 
	  grid-gap: 0px;
	  height: px;
	  margin: 40px;

	}

	.Elements {
		padding: 30px;
		border: 1px solid;
		font-size: 25px;
	}

	.Valoracio2::before {
	  content: "★ ";
	  color: gold;
	}

	.TablaPelis {
	  padding: 20px;
	  text-align: center;
	}


	.ColocacioPelis2 {
		display: flex;
		gap: 200px;
	}

	.FechaPeli {
		margin-top: 0px;
		font-size: 40px;
		text-align: center;
		color: white;
	}

	.ProximesPelis {
		padding-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		gap: 0px;
		
	}

	.BuscadorPeuPagina {
		color: white;
		border-color: white;
		background-color: transparent;
		border-radius: 3px;
		height: 30px;
		width: 300px;
	}

	.EnviarMail {
		color: white;
		border color: white;
		border-radius: 15px;
		borde: 1px solid;
		height: 30px;
		width: 100px;
		background-color: transparent;
	}

	.MailPeuPagina {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	.SobreNosotros {
		color: white;
	}

	footer {
		height: 500px;
		background-color: #1A1A1A;
	}

	.PeuPagina {
		padding-top: 80px;
		display: flex;
		justify-content: center;
		background-color: transparent;
		gap: 150px;

	}

	.ColocacioDescripcio {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 400px;
	}

	.TerminosCondiciones {
		display: flex;
		justify-content: center;
}
